
    @*For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

@{
    ViewData["Title"] = "Search";
}

<h1> GETMovie</h1>

<p>Search for the movie by the ID: </p>
<form method="GET" action="GETMovie">
    <input name="MovieID" type="number" />
    <input type="submit" for="submit" />
</form>*@

@model IEnumerable<MoviesAPI.Models.MovieModel>

@{
    ViewData["Title"] = "Dotnetflix - Search Listing";
}


<form method="GET" action="GETMovie">
    Movie ID: <input name="MovieID" type="number" min="1" max="9999"/>
    <input type="submit" for="submit" />
</form><br/>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MovieID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgeRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MovieID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MovieName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AgeRating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
            </tr>
        }
    </tbody>
</table>
