@model IEnumerable<MoviesAPI.Models.MovieModel>

@{
    ViewData["Title"] = "Dotnetflix - Search Listing";
    var ErrorMsg = ViewBag.Message;

    var MovieID = ViewBag.MovieID;
}
<h3 class="text-light">SEARCH MOVIES</h3>
<br />
<table style="width:25%">

    <form method="GET" action="GETMovie">
        <tr><td>Movie ID: </td><td><input name="MovieID" type="number" min="1" max="9999" required placeholder="e.g 7" class="w-100"></td></tr>
        <tr><td><br /></td><td><br /></td></tr>
        <tr>
            <td></td>
            <td><input type="submit" for="submit" class="btn btn-sm btn-outline-light rounded" /></td>
        </tr>
    </form>
</table>
@if (MovieID > 0)
{

    <br />

    <table class="table table-dark">
        <thead>
            <tr>
                <th>
                    Movie⠀ID
                </th>
                <th>
                    Title
                </th>
                <th>
                    Age⠀Rating
                </th>
                <th>
                    Price⠀(£)
                </th>
                <th>
                    Release⠀Date
                </th>
                <th>
                    Genre(s)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MovieID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MovieName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AgeRating)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReleaseDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Genre)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<br />
<p class="text-danger">@ErrorMsg</p>
